@charset "UTF-8";


img {
	width: 50%;
	max-width: 100%;
}


body {
	background-color: #fff;

}


/* HEADER */
header {
	display: none;
}

#search {
	display: none;
	visibility: hidden;
}

/* MAIN */
#main {
}



/* NAV */
#nav {
	position: relative;
}
nav {
	display: none !important;
	opacity: 0;
}

.sticky-wrapper {
	display: none;
}





/* CONTENT */
article{
	font-size: 0.7em !important;
}


.pageBreak {
	page-break-before: always;
}

#content {
	float: none;
	margin-left: 0;
}
#contentInner {
	margin-right: 0;
	margin-left: 0;
	border-radius: 0;		/* CSS3草案 */
	-webkit-border-radius: 0;	/* Safari,Google Chrome用 */
	-moz-border-radius: 0;	/* Firefox用 */
}

#spTopImage{
	display: none !important;
}
#spTopImage img{
	display: block;
	width: auto;
	margin: 10px auto;
}

#indexInner>h1{
	display: block;
}
#indexInner>#topImage{
	display: block;
	text-align: center;
}
#indexInner>#topText{
	display: block;
}
#indexInner>#printAll{
	display: none;
}
#indexInner>#printCaption{
	display: none;
}


.spHeader{
	display: none;
}

#contentInner h1{
	letter-spacing: 0px;
	font-size: 18px;
	padding: 10px;
}

.page {
	padding: 0;
}

.page>p, .page>section {
}

.page>div {
	margin-bottom: 10px;
}

.page>h2 {
	font-size: 18px;
	letter-spacing: 1px;
}

.list {
	margin: 0 5px 30px 5px;
}

.list p {
	margin-bottom: 10px;
}

.decimal {
	margin-right: 5px;
	font-weight: bold;
}

.page img {
}
img.icon {
	width: auto;
	max-width: none;
	height: 22px;
	margin: auto;
	display: inline;
}

.page table {
	margin-top: 3px;
	width: auto;
}

.page th, .page td {
}

.page th .sub, .page td .sub {
}

.page li {
	page-break-inside:avoid;
}



/* BACK BUTTON */
#backButton {
	display: none;
}

/* TOP BUTTON */
#topButton {
	display: none;
	visibility: hidden;
}

/* HOME BUTTON */
#homeButton {
	display: none;
}

#spTopImage>img {
	display: block;
}



footer {
	display: none;
}

#printCopy {
	display: none;
}



/* アコーディオンテーブル */
.accordionTable>dd {
	display: block !important;
}


