@charset "utf-8";

/* @group reset */

*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-style: normal;
}

a {
    text-decoration : none
}
ul, ol {
    list-style : none
}
img {
    vertical-align : middle;
}

/* @end */